body
{
background:#001116;
padding-top:300px;
text-align:center; /* for IE */

color:#FFFFFF;
}

div#wrapper 
{
text-align:left; /* reset text alignment */
width:985px; 
margin:0 auto; /* for the rest */
}