* {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #524656;
	margin: 0px;
	padding: 0px;
}

html, body, input, #result {
	background: #E4DCCB;
}

a, input[type="submit"]  {
	color: #EA7458;
	text-decoration: none;
        cursor:pointer;
}

.warning{
    color:yellow;
    
}

input, #result {
	padding: 5px;
	border: 1px solid #525252;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin: 5px;
}

.static {
	background: #A6C4BC;
	height: 20px;
	padding: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #525252;
	font-size: 24px;
} 

.static b {
	font-size: 24px;
} 

.static ul {
	float: right;
	list-style-type: none;
	margin-top: 7px;
}

.errorMessage{
    color:red;
}
.static a{
	padding-right: 20px;
    
}

.static ul li {
	float: left;
	margin-left: 20px;
}

#signin {
	float: left;
	margin-left: 20px;
}
.menu {
	padding: 16px;
	background: #A6C4BC;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#left{
    float: left;
    margin: 20px;
}
.menu li {
	margin-left: 15px;
	margin-bottom: 2px;
}

.menu li b {
	font-size: 14px;
}

.menu li ul {
	padding-left: 15px;
	margin-bottom: 10px;
}

.menu a{
    padding-right: 10px;
}

#right {
	float: left;
	margin-top: 20px;
        position:relative;
}


#right form {
	margin-bottom: 20px;
}


.underline {
   text-decoration: underline;
}


#signin input{
    margin-left: 0;
    margin-right: 0;
}
#signin input[type="submit"] {
    font-weight: bold;
    float: right;
}

#serviceMethods{
    margin-top: 20px;
}

#callDialog{
	margin-bottom: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

h3{
    padding: 5px;
}

#dataView{
    padding: 5px;
}

#dataView#tree{
    font-size: 12px;
}
