* {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

html, body {
	background: #333333;
}

a {
	color: #C4D6DC;
	text-decoration: none;
}

input {
	background: none;
	padding: 5px;
	border: 1px solid #525252;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin: 5px;
}

#header {
	background: #000000;
	height: 20px;
	padding: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #525252;
	font-size: 24px;
} 

#header b {
	font-size: 24px;
	color: #C4D6DC;
} 

#header ul {
	float: right;
	list-style-type: none;
	margin-top: 7px;
}

#header ul li {
	float: left;
	margin-left: 20px;
}

#menu {
	margin: 20px;
	padding: 11px;
	background: #525252;
	float: left;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding-bottom: 0px;
}

#menu li {
	margin-left: 15px;
	margin-bottom: 10px;
}

#menu li b {
	font-size: 14px;
}

#menu li ul {
	padding-left: 15px;
}

#menu li ul li {
	margin-left: 0px;
	margin-bottom: 2px;
}

#content {
	float: left;
	margin-top: 20px;
}

#content h3 {
	background: #525252;
	padding: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-size: 14px;
	margin-bottom: 10px;
}

#content form {
	margin-bottom: 20px;
}