#header, #left, .notParamEditor, pre, .site-footer{
    /*don't apply font to ACE editor or else cursor position is messed up. :not selector dones't work, so need 
    to do it to everything but it' */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body{
    font-size: 15px;
    margin:0px;
    
 
}


input{
    color:black;
}


a, input[type="submit"], button  {
    color: #007EE5;
    cursor:pointer;
    text-decoration: none;
}

input, #result, button{
    padding: 8px;
    border: 1px solid #A8A8A8;
    margin: 5px;
}


.underline {
    text-decoration: underline;
}

input[type="submit"], button {
    padding: 5px;
    margin: 5px;
    background: #FFFFFF;
}

.warning{
    color:red;
    padding-left: 40px;

}


.dateCell{
    text-align: right;
}


.tip{
    color:grey;
    font-style: italic;
}

.borderTop{
    border-top: 1px solid #A8A8A8;    
    padding-top: 10px;
    margin-top: 5px;
}

table{
    border-collapse:collapse;
}

.chosen{
    color:#F65511;
}



.alignleft {
	float: left;
        text-align: left;
}
.alignright {
	float: right;
        text-align: right;
}

#main{
    width:1000px;
    margin-left: auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    overflow:hidden;
}



.imgWrapper{
    width:100%; 
    text-align:center;
}

.imgWrapper img{
    border: 1px solid grey;
    margin: 10px;
}


.padLeft{
    padding-left: 10px;
}
/* service browser */

#left li ul {
    padding-left: 15px;
    margin-bottom: 10px;
}

#left{
    float: left;
    max-width:300px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom:10px;
}

#right {
    border-left: 1px solid #A8A8A8;
    float: left;
    margin-top: 10px;
    position:relative;
    padding-left: 10px;
    padding-bottom: 10px;
    max-width:700px;
}


#right form {
    margin-bottom: 20px;
}


#signin input{
    margin-left: 0;
    margin-right: 0;
}
#signin input[type="submit"] {
    float: right;
}

#serviceMethods{
    margin-top: 20px;
}


#dataView{
    padding: 5px;
}

#dataView#tree{
    font-size: 12px;
}

.paramEditorContainer{
    /* 
    The editor must be created in a div with absolute position. So use a wrapper for positioning. 
    See http://dylemma.io/post/4
    */
    position: relative;
    height: 4em;
    width: 500px;
    margin:5px;
    border: 1px solid #A8A8A8;

}

/* client generator */
table#clientGen{
    width:600px;
    margin-top: 10px;
}
table#clientGen td{
    width:600px;
    margin-top: 10px;
    padding: 3px;
    padding-left: 10px;
}

/* profiler */
#chartDivContainer{
    background-color: white;
    padding: 10px;
}

#controls{
    margin-bottom: 10px;
}




#clientGenContent{
    width: 600px ;
    margin-left: auto ;
    margin-right: auto ;

}



/* jqplot*/

table.jqplot-table-legend{
    border:none;
}

.jqplot-table-legend, .jqplot-title{
    z-index: 1;
}

.jqplot-seriesToggle a{
    padding-right: 10px;
    font-weight: bold;
}

/* header */



#header {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    
}

.middleBound{
    width: 1000px;
    margin-left: auto ;
    margin-right: auto ;
}


#header p{
    margin:5px;
    line-height: 150%;
}

#newsLink{
    padding-right: 20px;

}


.overFlowAuto{
    overflow: auto;    
}

#line1{
    background: #E6E6E6;
    padding-top: 5px;
    padding-bottom: 5px;
}

#backoffice{
    font-style: italic;
    font-weight: normal;
    color:#989898;
}

#titleSpan {
    font-size: 24px;
    padding-right: 20px;
} 

#titleP{
    padding-top: 5px;
}


a.important{
    font-size: 16px;
    font-weight: bold;
    margin-right: 50px;
}

#newsLink{
    width:137px;
}

#newsPopup, #newsLink{
    /* hide these elements by default */
    display: none;
}
#line1 table{
    margin-top: 5px;
}
#showNewsTextTd{
    padding-right: 20px;
}

#textSignOutLink, #textNewsLink{
    font-size: 11px;
    color:black;
}

#line2{
    padding:0px;
    margin-bottom: 0px;
}

#tabNavP{
    padding-top: 5px;
}

#line2 a{
    padding-right: 50px;
}

#header #silexLabsLinkP{
    margin-bottom: 0px;
    padding: 0px;
}

#currentVersionPre{
    color: #747474;
}

#currentVersion{
    color: #373737;
}

#tabName, #newsPopupTitleText{
    color:#F65511;
    font-size: 24px;
}
#tabNameP{
    padding-top: 10px;
}
.headerLine, #newsPopupTitle{
    border-bottom: 1px solid #A8A8A8;    
}

#newsPopup{
    float:right;
    background: white;
    border:1px solid #A8A8A8;
    position:fixed;
    right: 100px;
    top:95px;
}

#newsPopup table{
    margin: 10px;
}

#newsPopup table td{
    padding: 5px;
}
#newsPopupContent{
    
}

#newsPopupTitle{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/* sticky footer http://css-tricks.com/snippets/css/sticky-footer/  */

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -40px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 40px; 
}
.site-footer {
  background: black;
  text-align: center;
  

}

.site-footer div{
    padding-top: 10px;
}
.site-footer a{
    padding-right: 10px;
    color:white;
}