#header, #left, .notParamEditor, pre, #footer{
     /*don't apply font to ACE editor or else cursor position is messed up. :not selector dones't work, so need 
     to do it to everything but it' */
        font-family: Arial, Helvetica, sans-serif;
        color: #666666;
}

body{
    font-size: 15px;
    
}

#backoffice{
    font-style: italic;
    font-weight: normal;
}

input{
	color:black;
}


a, input[type="submit"], button  {
	color: #007EE5;
        cursor:pointer;
        text-decoration: none;
}

input, #result, button{
	padding: 8px;
	border: 1px solid #525252;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 5px;
}



#left li ul {
	padding-left: 15px;
	margin-bottom: 10px;
}

#left{
    float: left;
    margin: 20px;
}

#right {
	float: left;
	margin-top: 20px;
        position:relative;
        border-left: 1px solid #525252;
}


#right form {
	margin-bottom: 20px;
}

.menu {
	padding: 16px;
        margin-bottom:16px;
}

.menu li {
	margin-left: 15px;
	margin-bottom: 2px;
}

.menu li b {
	font-size: 14px;
}


.menu a{
    padding-right: 10px;
}


.underline {
   text-decoration: underline;
}


#signin input{
    margin-left: 0;
    margin-right: 0;
}
#signin input[type="submit"] {
    float: right;
}
input[type="submit"], button {
    padding: 5px;
    margin: 5px;
    background: #FFFFFF;
}

#serviceMethods{
    margin-top: 20px;
}


h3{
    padding: 5px;
}

#dataView{
    padding: 5px;
}

#dataView#tree{
    font-size: 12px;
}
.warning{
    color:red;
    
}

.paramEditorContainer{
    /* 
    The editor must be created in a div with absolute position. So use a wrapper for positioning. 
    See http://dylemma.io/post/4
    */
    position: relative;
    height: 4em;
    width: 500px;
    margin:5px;
    border: 1px solid #525252;
    
}

a.important{
    font-size: 16px;
    font-weight: bold;
}

button img,
button span {
    vertical-align: middle;
}

#newsLink{
    width:137px;
}

#chartDivContainer{
    background-color: white;
    padding: 10px;
}

#controls{
    margin-bottom: 10px;
}


.jqplot-table-legend, .jqplot-title{
    z-index: 1;
}

#divRss{
    float:right;
    background: white;
    border:1px solid #525252;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding:5px;
}

#divRss, #newsLink{
    /* hide these elements by default */
    display: none;
}
#divRss .dateCell{
    text-align: right;
}

#titleSpan {
	font-size: 24px;
        padding-right: 20px;
        
} 


#header {
	height: 20px;
	padding: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #525252;
} 

#header ul {
	float: right;
	list-style-type: none;
	margin-top: 7px;
}

#header a{
	padding-right: 20px;
    
}

#header ul li {
	float: left;
	margin-left: 20px;
}



#footer
{
    clear: both;
    border-top: 1px solid #525252;
    background: White;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #525252;
} 



#footer a{
	padding-right: 20px;
    
}



.tip{
    color:green;
}

